<div class="container">
  <div class="box">
    <carousel [items]="items"
              [visibleItemsCount]="itemsCount"
              (valueChanged)="valueChanged($event)"
              (searchValueChanged)="searchValueChanged($event)"
              [formControl]="itemFC">
    </carousel>
  </div>
  <div class="box">
    <ng-template [ngIf]="item">
      {{item | json}}
    </ng-template>

    <ng-template [ngIf]="itemFC.value">
      {{itemFC.value | json}}
    </ng-template>

    <ng-template [ngIf]="formGroup.controls['itemFCM'].value">
      {{formGroup.controls['itemFCM'].value | json}}
    </ng-template>
  </div>
</div>
